<a href="https://colab.research.google.com/github/TenzingJoseph/CTS-Python/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List methods**

In [5]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### **1) append( )**
adds item/items at the end of the list

In [13]:
mylist = ["Apple", "apple", 1, 20.5, True, "apple", 20.5]

mylist.append("banana")
print(mylist)

['Apple', 'apple', 1, 20.5, True, 'apple', 20.5, 'banana']

#### **2) insert( )**
inserts item at a specific index location.

In [14]:
mylist.insert(6,"cherry")
mylist

['Apple', 'apple', 1, 20.5, True, 'apple', 'cherry', 20.5, 'banana']

#### **3) remove( )**
removes the first instance of the specified element in the list.

In [15]:
mylist.remove('apple')
mylist

['Apple', 1, 20.5, True, 'apple', 'cherry', 20.5, 'banana']

#### **4) pop( )**
returns or slices the specified index (or) the last item if index is not specified and removes it from the list.

In [16]:
mylist.pop(3) # index is specified

True

In [17]:
mylist.pop() # if index not specified, removes the last element

'banana'

#### **5) clear( )**
empties the entire list / removes all the elements from the list.

In [18]:
list1 = [[1,2,3,"a",True], 2 , ("b",55,9.3), 88.776, {1,2,3,4}, False, {"brand":"Ford","model":"Mustang"}]
list1

[[1, 2, 3, 'a', True],
 2,
 ('b', 55, 9.3),
 88.776,
 {1, 2, 3, 4},
 False,
 {'brand': 'Ford', 'model': 'Mustang'}]

In [19]:
list1.clear()
list1

[]

#### **6) copy( )**
copying the list / creating a duplicate list

In [20]:
list1 = [[1,2,3,"a",True], 2 , ("b",55,9.3), 88.776, {1,2,3,4}, False, {"brand":"Ford","model":"Mustang"}]

list2 = list1 ## This is not the correct way of copying, this is called referencing.

In [21]:
list2 = list1.copy()
print(list2)

[[1, 2, 3, 'a', True], 2, ('b', 55, 9.3), 88.776, {1, 2, 3, 4}, False, {'brand': 'Ford', 'model': 'Mustang'}]

#### **7) extend( )**
joining a list with another list.

In [22]:
list2 = [1,2,3]
list3 = [4,5,6]

list2.extend(list3)
list2

[1, 2, 3, 4, 5, 6]

Alternative shortcut method (does not comes under list methods)

In [23]:
list4 = list2 + list3 
list4

[1, 2, 3, 4, 5, 6, 4, 5, 6]

#### **8) sort( )**

In [24]:
list5 = [100,10,56,56.0001]

list5.sort()  # By default, the elements in the list are sorted in Ascending order
list5

[10, 56, 56.0001, 100]

In [25]:
list5.sort(reverse = True) # To sort in descending order
list5

[100, 56.0001, 56, 10]

Sort also works for string elements but the list should contain only string elements. And this works based on case sensitivity.

Note: Uppercase < Lowercase

In [26]:
list5 = ['apple','Apple','apple','kiwi','Orange','Kiwi']

list5.sort() 
list5

['Apple', 'Kiwi', 'Orange', 'apple', 'apple', 'kiwi']

#### **9) index( )**
Returns the index of first instance of the specified element

In [29]:
list5

['Apple', 'Kiwi', 'Orange', 'apple', 'apple', 'kiwi']

In [30]:
list5.index('apple')

3

#### **10) count( )**
Returns the number of times a specified value occurs in a tuple

In [31]:
list5.count('apple')

2

#### **11) reverse( )**
reverses the position of the elements in the list.

In [32]:
list5

['Apple', 'Kiwi', 'Orange', 'apple', 'apple', 'kiwi']

In [34]:
list5.reverse()
list5

['Apple', 'Kiwi', 'Orange', 'apple', 'apple', 'kiwi']

#

#

# **Tuple methods**

In [35]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#### 1)  Count( )
Returns the number of times a specified value occurs in a tuple

In [37]:
tup1 = ([1,2,3,"a",True], 2 , ("b",55,9.3), 88.776, {1,2,3,4}, False, 2,{"brand":"Ford","model":"Mustang"})
tup1

([1, 2, 3, 'a', True],
 2,
 ('b', 55, 9.3),
 88.776,
 {1, 2, 3, 4},
 False,
 2,
 {'brand': 'Ford', 'model': 'Mustang'})

In [38]:
tup1.count(2)

2

#### 2) Index( )
Returns the index of first instance of the specified element

In [39]:
tup1.index(2)

1

#

#

# **Set methods**

In [40]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### 1) add( )
adds item to a set

In [51]:
set1 = {5, 10.5, "apple", True, False, 5, "apple"}
set1

{10.5, 5, False, True, 'apple'}

In [52]:
set1.add("orange")
set1

{10.5, 5, False, True, 'apple', 'orange'}

#### **2) update( )**
add multiple items to a set.

In [53]:
set1.update(["cherry", 1 , 6, 7])  ## we can use list, tuple, set.
set1

{10.5, 5, 6, 7, False, True, 'apple', 'cherry', 'orange'}

#### **3) remove( )**
removes specified item in a list

In [54]:
set1.remove("cherry")
set1

{10.5, 5, 6, 7, False, True, 'apple', 'orange'}

#### **4) discard( )**
same as remove but remove() method will raise an error if the specified item does not exist, and the discard() method will not

In [55]:
set1.discard('cherry')
set1

{10.5, 5, 6, 7, False, True, 'apple', 'orange'}

#### **5) pop( )**
returns an element and removes that element from the set. Since sets are unordered, we do not know which item will get removed.

In [56]:
set1.pop()

False

#### **6) clear( )**
empties the set and gives a null set.

In [57]:
set1.clear()
set1

set()

#### **7) Union( )**
returns a new set with all items from both sets

In [58]:
set1 = {5, 10.5, "apple", True, False, 5, "apple"}
set2 = {1, 5, "abc", True, False}

In [59]:
set3 = set1.union(set2)
set3

{10.5, 5, False, True, 'abc', 'apple'}

#### 8) intersection
return a new set, that only contains the items that are present in both sets

In [60]:
set4 = set1.intersection(set2)
set4

{False, 1, 5}

#### **9) intersection_update**
Removes the items in this set that are not present in other specified set

In [61]:
set1.intersection_update(set2)
set1

{False, 1, 5}

#### 10) symmetric_diference
return a new set, that contains only the elements that are NOT present in both sets

In [63]:
set1 = {5, 10.5, "apple", True, False, 5, "apple"}
set2 = {1, 5, "abc", True, False}

In [64]:
set5 = set1.symmetric_difference(set2)
set5

{10.5, 'abc', 'apple'}

#### **11) symmetric_difference_update**
updates the original set by removing items that are present in both sets

In [65]:
set1.symmetric_difference_update(set2)
set1

{10.5, 'abc', 'apple'}

#

#

# **Dictionary methods**

In [83]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [84]:
dict1 = {"Brand" : "Ford", "Model" : "Mustang", "Year" : 1974, "Auto-transmission" : False, "Engine-CC" : 450.88, 4 : 'Yes', 4.25 : "No", True : "suspension"}
dict1

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': 1974,
 'Auto-transmission': False,
 'Engine-CC': 450.88,
 4: 'Yes',
 4.25: 'No',
 True: 'suspension'}

#### **1) get( )**
returns the value of the specified key

In [85]:
dict1.get(4)

'Yes'

In [86]:
dict1.get(True)

'suspension'

#### **2) keys( )**
returns all the keys and only keys.

In [87]:
dict1.keys()

dict_keys(['Brand', 'Model', 'Year', 'Auto-transmission', 'Engine-CC', 4, 4.25, True])

In [88]:
type(dict1.keys())

dict_keys

#### **3) values( )** 
returns only the values of all the keys.

In [89]:
dict1.values()

dict_values(['Ford', 'Mustang', 1974, False, 450.88, 'Yes', 'No', 'suspension'])

In [90]:
type(dict1.values())

dict_values

#### **4) items( )**
returns both key and value in seperate tuple.

In [91]:
dict1.items()

dict_items([('Brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1974), ('Auto-transmission', False), ('Engine-CC', 450.88), (4, 'Yes'), (4.25, 'No'), (True, 'suspension')])

In [92]:
type(dict1.items())

dict_items

#### **5) pop( )**
specified key value will be returned and removed from the dictionary.

In [93]:
dict1.pop("Model") ## Only keys should be specified.

'Mustang'

#### **6) Clear( )**
empties the dictionary

In [94]:
dict1.clear()
dict1

{}

#### **7) copy( )**
Creates a duplicate dictionary.

In [95]:
dict1 = {"Brand" : "Ford", "Model" : "Mustang", "Year" : 1974, "Auto-transmission" : False, "Engine-CC" : 450.88, 4 : 'Yes', 4.25 : "No", True : "suspension"}

In [96]:
dict2 = dict1.copy()
dict2

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': 1974,
 'Auto-transmission': False,
 'Engine-CC': 450.88,
 4: 'Yes',
 4.25: 'No',
 True: 'suspension'}

#### **8) update( )**
changes the values of the specified key and also used to add new items

In [97]:
dict1.update({"refurbished_Year": 2020, "Year": 1984})
dict1

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': 1984,
 'Auto-transmission': False,
 'Engine-CC': 450.88,
 4: 'Yes',
 4.25: 'No',
 True: 'suspension',
 'refurbished_Year': 2020}