<a href="https://colab.research.google.com/github/TenzingJoseph/CTS-Python/blob/main/Loop_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1

In [15]:
tup1 = (1,2,3,4,5,6,7,8,9,10)

mean1 = sum(tup1)/len(tup1)

sum1 = 0
sum2 = 0
for i in tup1:
  sum1 += i
  if sum1 <= mean1:
    sum2 += i 
print('The given tuple is: ',tup1)
print('The mean of the given tuple is ',mean1)
print('The sum is', sum2)

The given tuple is:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The mean of the given tuple is  5.5
The sum is 3

In [6]:
tup1 = (1,2,3,4,5,6,7,8,9,10)

i = 0
sum = 0

while i < len(tup1):
  sum += tup1[i]
  i += 1

mean = sum/i

sum1, sum2 = 0, 0
for i in tup1:
  sum1 += i
  if sum1 <= mean:
    sum2 += i 
print('The given tuple is: ',tup1)
print('The mean of the given tuple is ',mean)
print('The sum is', sum2)

The given tuple is:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The mean of the given tuple is  5.5
The sum is 3

## Exercise 2

In [16]:
marks = [] 

for i in range(0,10):
  a = int(input("Enter the mark: "))
  marks.append(a)

sum1 = sum(marks)
bin = []
while sum1:
  b = sum1 % 2
  bin.append(b)
  sum1 = sum1 // 2

num = ''
for j in bin:
  num += str(j)

print('The given marks are: ', marks)
print('The total of the given marks is ', sum(marks))
print('The binary value of the total mark is', num)

Enter the mark: 78
Enter the mark: 87
Enter the mark: 99
Enter the mark: 100
Enter the mark: 56
Enter the mark: 67
Enter the mark: 72
Enter the mark: 79
Enter the mark: 88
Enter the mark: 90
The given marks are:  [78, 87, 99, 100, 56, 67, 72, 79, 88, 90]
The total of the given marks is  816
The binary value of the total mark is 0000110011

## Exercise 3

In [33]:
num1 = []

for i in range(0,5):
  a = int(input("Enter a number: "))
  num1.append(a)

for i in range(len(num1)):
  for j in range(i+1, len(num1)):
    if num1[i] > num1[j]:
      num1[i],num1[j] = num1[j],num1[i]
print('The given data is sorted in Ascending Order :',num1)

num2 = num1.copy()

for i in range(len(num2)):
  for j in range(i+1, len(num2)):
    if num2[i] < num2[j]:
      num2[i],num2[j] = num2[j],num2[i]
print('The given data is sorted in Descending Order:',num2)

Enter a number: 45
Enter a number: 2
Enter a number: 78
Enter a number: 13
Enter a number: 36
The given data is sorted in Ascending Order : [2, 13, 36, 45, 78]
The given data is sorted in Descending Order: [78, 45, 36, 13, 2]

## Exercise 4

In [36]:
upp = 100
low = 0

print('The prime numbers between {} and {} are: '.format(low,upp), end=' ')
for i in range(low, upp+1):
  if i > 1:
    for j in range(2, i):
      if (i % j) == 0:
        break
    else:
      print(i, end=" ")

The prime numbers between 0 and 100 are:  2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97