<a href="https://colab.research.google.com/github/TenzingJoseph/CTS-Python/blob/main/Recursive_Function_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1

Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [1]:
def factorial(num):
  if num == 0:
    return 1
  else:
    return num * factorial(num-1)

In [2]:
factorial(6)

720

## Exercise 2

Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [4]:
def mysquare(start,upp):
    a=start
    c = start ** 2
    if c <= upp:
        print(c)
        mysquare(a+1,upp)

In [5]:
mysquare(1,30)

1
4
9
16
25