<a href="https://colab.research.google.com/github/TenzingJoseph/CTS-Python/blob/main/Recursive_Function_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1

Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [45]:
def factorial(num):
  if num == 0:
    return 1
  else:
    return num * factorial(num-1)

In [46]:
factorial(6)

720

## Exercise 2

Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [47]:
global x
x = []

def mysquare(low,upp):
    a=low
    b=upp
    if a <= b:
        c = low ** 2
        x.append(c)
        mysquare(a+1,b)
        return x

In [48]:
print(mysquare(1,30))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

### Aliter:

In [49]:
global y
y = []

def mysquare2(start,upp):
    a = start
    c = start ** 2
    if c <= upp:
      y.append(c)
      mysquare2(a+1,upp)
      return y

In [50]:
mysquare2(1,30)

[1, 4, 9, 16, 25]

### Aliter

In [51]:
def mysquare3(low,upp):
  a = []
  for i in range(low,upp+1):
    b = i**2
    a.append(b)
  print(a)

In [52]:
mysquare3(1,30)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]