<a href="https://colab.research.google.com/github/TenzingJoseph/CTS-Python/blob/main/Remove_Duplicates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def no_duplicate():
  list1 = [x for x in input("Enter the numbers separated by comma:").split(',')]
  list2 = set(list1)
  print([int(i) for i in list2])

In [10]:
no_duplicate()

Enter the numbers separated by comma:25,85,25,85
[85, 25]